# __Task 8: weather.ipynb__

__Brief:__ Create a notebook called ``weather.ipynb`` at the root of your repository. Write a brief report explaining how you completed Tasks 1 to 7. Provide short descriptions of the commands used in each task and explain their role in completing the tasks.

![Task 8](img/task8.png)

The command shell of [Github Codespaces](https://docs.github.com/en/codespaces) was used for running the commands.

## Task 1 Create Directory Structure

__Brief:__ Using the command line, create a directory named `data` at the root of your repository. Inside `data`, create two subdirectories: `timestamps` and `weather`.

__Command name:__ [`mkdir`]() 

__Purpose of the command:__ To create new directories. `mkdir` stands for 'make directory'.

__Command Syntax:__ `mkdir` [options..] [directory name/subdirectory]

The data directory and weather subdirectory can be created using `mkdir -p data/weather`. The options (or flags) associated with `mkdir` are discussed in this blog by [geeksforgeeks.org](https://www.geeksforgeeks.org/mkdir-command-in-linux-with-examples/). The `-p` (parent) flag creates the parent directory, which in this case is the `data` directory, if it is not already present. This command could be run a second time changing the subdirectory name to timestamps to complete the brief. However, to create multiple subdirectories inside a directory the following command from [howtogeek.com](https://www.howtogeek.com/275069/how-to-create-multiple-subdirectories-with-one-linux-command/) was used:

    $ mkdir -p data/{timestamps,weather}

The subdirectories are listed inside the curly braces and there must be no space between subdirectory names. This is a more efficient method of creating multiple subdirectories inside a parent directory. To confirm that the data directory and the subdirectories were created the `ls` was used. The `ls` command lists the visible files in the current working directory. To view all the files including the hidden files the command `ls -al` is used. To change to another directory the `cd` command is used. To view the files inside the `data` directory, the `cd` command was used to change into the `data` directory. The use of `ls` and `cd` is demonstrated in the image below.

![Task 1](img/task1.png)

https://ubuntu.com/tutorials/command-line-for-beginners#4-creating-folders-and-files

https://www.redhat.com/en/blog/create-delete-files-directories-linux

## Task 2 Timestamps

__Brief:__ Navigate to the `data/timestamps` directory. Use the `date` command to output the current date and time, appending 
the output to a file named `now.txt`. Use the ``>>`` operator to append (not overwrite) the file. Repeat this step 
ten times, then use the `more` command to verify that `now.txt` has the expected content.

__Command name:__ `date` 

__Purpose of the command:__ To display the system time and date.

__Command Syntax:__ `date` [option] [+FORMAT]

The image below demonstrates the output of the date command, showing the day, date, time and timezone. https://www.geeksforgeeks.org/date-command-linux-examples/

![Date command](img/task2date.png)

The output of a command can be appended to a file with the append operator, ``>>``. If the file does not exist a new file will be created. To append the date and time to a file the syntax is:
``date >> filename`` 

The `>` operator has a similiar function to the `>>` operator in that it writes content to a file but there is a significant difference between them. With `>`, the contents of the file are 
overwritten, `>>` appends the output to the file. `>` and `>>` are called [redirection operators](https://www.freecodecamp.org/news/linux-terminal-piping-and-redirection-guide/). These redirection
operators and other common operators are discussed in this [blog](https://www.makeuseof.com/linux-command-line-chaining-operators/)


![Task 2](img/task2.png)

The date command was run 10 times and the output was appended to now.txt.

__Command name:__ `more` 

__Purpose of the command:__ To view the contents of a file in the command line. 

__Command Syntax:__ `more` filename

![Task 2a](img/task2more.png)

https://www.tutorialspoint.com/date-command-in-linux

https://medium.com/@riddhijani181/date-command-in-linux-308b64014dd3

[linux operators](https://www.networkworld.com/article/2516127/linux-operators-using-and-many-more.html)

## Task 3 Formatted Timestamps

__Brief:__ Run the ``date`` command again, format the output using ``YYYYmmdd_HHMMSS`` (e.g. 20261114_130003 for 1:00:03 PM on November 14, 2026). Append the formatted output to a file named ``formatted.txt``. Refer to the ``date`` man page (using ``man date``) for more formatting options.

__Command name:__ `man` 

__Purpose of the command:__ The `man` command, which is short for manual, is used to get additional information about a command. For example the date `man` page contains information on formatting options for the date along with the options that are associated with `date`. 

__Command Syntax:__ `man` command

To format the date the syntax is:

    date +"format sequence"

For example to see the abbreviated weekday name: date +"%a" is used. This [blog post](https://phoenixnap.com/kb/linux-date-command) was particularily helpful in understanding the scope of the date command. For this task the date should be formatted as YYYYmmdd_HHMMSS, the command for this is %Y%m%d_%H%M%S. When the timestamp is formatted in this manner and the timestamp is used as the filename the files will be listed numerically in the directory.

![Task 3](img/task3.png)

https://www.redhat.com/en/blog/formatting-date-command

## Task 4 Create Timestamped Files

__Brief:__ Use the ``touch`` command to create an empty file with a name in the ``YYYYmmdd_HHMMSS.txt`` format. You can achieve this by embedding your date command in backticks ` into the ``touch`` command. You should no longer use redirection (>>) in this step.

__Command name:__ `touch` 

__Purpose of the command:__ The [`touch` command](https://www.geeksforgeeks.org/touch-command-in-linux-with-examples/) is used to create an empty file.

__Command Syntax:__ `touch` [options] file_name

 
![Task 4 touch command](img\task4_corrected.png)

Backticks are officially referred to as [command substitution](https://pubs.opengroup.org/onlinepubs/9699919799/utilities/V3_chap02.html#tag_18_06_03). Command substitution allows the output of a command to be substituted instead of the command itself. While researching the function and uses of backticks, I found this discussion on [reddit](https://www.reddit.com/r/bash/comments/w3jqlz/do_you_prefer_backticks_or_parentheses_for/) that discusses the use of backticks. It appears that a newer syntax of `$()` should be used instead of backticks. `$()` can simplify the code and it avoids the [issues that the use of backticks can create](https://www.redhat.com/en/blog/backtick-operator-vs-parens).

## Task 5 Download Today's Weather Data

__Brief:__ Change to the ``data/weather directory``. Download the latest weather data for the Athenry weather station from Met Eireann using ``wget``. Use the `-O <filename>` option to save the file as ``weather.json``. The data can be found at this URL: `https://prodapi.metweb.ie/observations/athenry/today`.

__Command name:__ `wget`(https://www.cbtnuggets.com/blog/technology/system-admin/what-is-wget-in-linux)

__Purpose of the command:__ `wget` is short for 'world wide web get' and it downloads files from the internet via HTTP, HTTPS and FTP protocols. It can work in the background while the user is not logged on and it can also download multiple files from a text file, which contains a list of url's. 

__Command Syntax:__ `wget` [option] [URL] 

The `-O <filename>` or --output-document=_file_ allows the output to be redirected to a particular file, which in this case is weather.json. 

![Task 5](img/task5.png)

[](https://www.geeksforgeeks.org/wget-command-in-linux-unix/)

https://www.hostinger.com/tutorials/wget-command-examples/

https://medium.com/@learntheshell/how-to-use-the-wget-command-in-linux-b727c1f4d91c

## Task 6 Timestamp the Data

__Brief:__ Modify the command from Task 5 to save the downloaded file with a timestamped name in the format ``YYYYmmdd_HHMMSS.json`

The timestamp format is the same as in task 4, %Y%m%d_%H%M%S but this time the file will be saved as a json file. 

![Task 6](img/task6.png)

When the command is run we can see the progress of the wget command with connecting to the Met Eireann website. It also gives us the name that the file is saved to.

## Task 7 Write the Script

__Brief:__ Write a bash script called ``weather.sh`` in the root of your repository. This script should automate the process from Task 6, saving the weather data to the ``data/weather`` directory. Make the script executable and test it by running it.


A [bash script](https://www.datacamp.com/tutorial/how-to-write-bash-script-tutorial?) is a plain text file with a .sh extension. It is used to group commands together so that tasks do not have to be manually written repeatedly. The first line of a bash script always is the "shebang", #!/bin/bash. purpose of the shebang. The subsequent lines are the commands we want to run. For this bash script we want to run the ``wget`` command from Task 6.

![Bash script image](img\task7_bash.png)

The script will then need to be made executable. As `weather.sh` is in the root of the repository, when the ls -al command is ran we see rx etc. Describe

![How do i Know it's not executable](img/task7a.png)

Make it executable with chmod u+x file.sh. Explain this. 

![Make it executable](img/task7.png)

in command line in the correct directory run the weather.sh. Describe the result. 

![Task 7](img/task7c.png)

## Task 9 pands

__Brief:__ In weather.ipynb, use pandas read_json() to load in any one of the weather data files that were downloaded with the script. Examine and summarise the data. See the information provided by [data.gov](https://data.gov.ie/) to write a short explanation of what the data set contains.

https://data.gov.ie/dataset/raw-camp-station-data

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

weather_df = pd.read_json('data/weather/20241028_145436.json')
weather_df.head()

,name,temperature,symbol,weatherDescription,text,windSpeed,windGust,cardinalWindDirection,windDirection,humidity,rainfall,pressure,dayName,date,reportTime
0,Athenry,14,46n,Light rain,"""Light rain """,22,-,SW,225,97,0.7,1015,Monday,2024-10-28,00:00
1,Athenry,14,05n,Rain showers,"""Rain shower""",22,-,SW,225,97,0.7,1015,Monday,2024-10-28,01:00
2,Athenry,14,05n,Rain showers,"""Rain shower""",20,-,SW,225,98,0.3,1015,Monday,2024-10-28,02:00
3,Athenry,14,46n,Light rain,"""Light Drizzle """,15,-,W,270,98,0.4,1015,Monday,2024-10-28,03:00
4,Athenry,13,46n,Light rain,"""Recent Drizzle """,17,-,W,270,99,0.3,1015,Monday,2024-10-28,04:00

In [3]:
weather_df.shape

(15, 15)

In [5]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   15 non-null     object
 1   temperature            15 non-null     int64
 2   symbol                 15 non-null     object
 3   weatherDescription     15 non-null     object
 4   text                   15 non-null     object
 5   windSpeed              15 non-null     int64
 6   windGust               15 non-null     object
 7   cardinalWindDirection  15 non-null     object
 8   windDirection          15 non-null     int64
 9   humidity               15 non-null     int64
 10  rainfall               15 non-null     float64
 11  pressure               15 non-null     int64
 12  dayName                15 non-null     object
 13  date                   15 non-null     datetime64[ns]
 14  reportTime             15 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 1.9+ KB

In [6]:
weather_df.describe()

,temperature,windSpeed,windDirection,humidity,rainfall,pressure,date
count,15.000000,15.000000,15.00000,15.000000,15.000000,15.000000,15
mean,13.600000,13.866667,261.00000,94.466667,0.187333,1016.466667,2024-10-28 00:00:00
min,13.000000,7.000000,225.00000,81.000000,0.000000,1015.000000,2024-10-28 00:00:00
25%,13.000000,11.000000,270.00000,93.500000,0.000000,1015.000000,2024-10-28 00:00:00
50%,14.000000,13.000000,270.00000,97.000000,0.100000,1016.000000,2024-10-28 00:00:00
75%,14.000000,16.000000,270.00000,98.000000,0.300000,1018.000000,2024-10-28 00:00:00
max,15.000000,22.000000,270.00000,99.000000,0.700000,1019.000000,2024-10-28 00:00:00
std,0.632456,4.596065,18.63177,5.755329,0.244028,1.597617,NaN

## References

https://ubuntu.com/tutorials/command-line-for-beginners

[Linux operators and more](https://www.networkworld.com/article/2516127/linux-operators-using-and-many-more.html)

youTube Corey Schafer Linux/Mac Terminal Tutorial: Navigating your Filesystem https://www.youtube.com/watch?v=j6vKLJxAKfw&list=PL-osiE80TeTvGhHkpvfmKWOiIPF8UVy6c

End

***